.AnagramForm {
    position: relative;
    top: 100px;
    bottom: 20px;
    width: 70%;
    margin: auto;
}

.Alert {
    font-size: small;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.AlertHeading {
    font-weight: 200;
}